@model int
<div class="text-center">
    <h1 class=" text-info pt-4"> congrats, you are one step closer to amazing food</h1>
    <h4 class="text-warning pd-3">Order Id -@Model</h4>
    <img  src="/images/order.PNG" width="80%"/>
</div>